/* Meera Inimai */

@font-face {
	font-family: MeeraInimai;
	src: url(/downloads/fonts/meera-inimai/MeeraInimai-Regular.woff2?v=@VERSION@) format('woff2'), url(/downloads/fonts/meera-inimai/MeeraInimai-Regular.woff?v=@VERSION@) format('woff'), url(/downloads/fonts/meera-inimai/MeeraInimai-Regular.ttf) format('truetype');
	font-weight: normal;
	font-display: swap;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0B82-0BFA, U+200C-U+200D, U+25CC;
}
