<template>
  <v-container class="contact col-xl-8 col-sm-10 col-xs-12">
    <h1 class="display-3 my-10" v-i18n="'menu-contact'"></h1>

    <v-row class="text-left">
      <ul id="links">
        <li>
          <a href="https://blog.smc.org.in/" data-i18n="menu-blog">ബ്ലോഗ്</a>
        </li>
        <li>
          <a href="https://wiki.smc.org.in/" data-i18n="menu-wiki">വിക്കി</a>
        </li>
        <li>
          <a
            href="http://libindic.org/"
            target="_blank"
            data-i18n="menu-libindic"
            >ലിബ്‌ഇന്‍ഡിക്</a
          >
        </li>
        <li>
          <a
            href="https://indicproject.org/"
            target="_blank"
            data-i18n="menu-indicproject"
            >ഇന്‍ഡിക് പ്രൊജക്റ്റ്</a
          >
        </li>
        <li>
          <a href="https://smc.org.in/fonts/" data-i18n="menu-fonts"
            >ഫോണ്ടുകള്‍</a
          >
        </li>
        <li>
          <a href="https://gitlab.com/smc" target="_blank" data-i18n="menu-git"
            >ഗിറ്റ്‌‌ റെപ്പോസിറ്ററി</a
          >
        </li>
        <li>
          <a
            href="http://lists.smc.org.in/listinfo.cgi/discuss-smc.org.in"
            target="_blank"
            data-i18n="menu-list"
            >മെയിലിങ്ങ് ലിസ്റ്റ്</a
          >
        </li>
        <li>
          <a
            href="https://webchat.freenode.net/?randomnick=0&amp;channels=smc-project"
            target="_blank"
            data-i18n="menu-irc"
            >IRC: ഫ്രീനോഡിലെ #smc-project</a
          >
        </li>
        <li>
          <a
            href="https://matrix.to/#/#smc-project:matrix.org"
            target="_blank"
            data-i18n="menu-matrix"
            >മാട്രിക്സ്: #smc-project:matrix.org</a
          >
        </li>
        <li>
          <a
            href="https://t.me/smc_project"
            target="_blank"
            data-i18n="menu-telegram"
            >ടെലഗ്രാം: @smc_project</a
          >
        </li>
        <li>
          <a
            href="http://dhvani.sourceforge.net/"
            target="_blank"
            data-i18n="menu-dhvani"
            >ധ്വനി</a
          >
        </li>
        <li>
          <a
            href="http://grandham.in/"
            target="_blank"
            data-i18n="menu-grandhavivaram"
            >മലയാള ഗ്രന്ഥവിവരം
          </a>
        </li>
        <li>
          <a
            href="https://smc.org.in/code-of-conduct.html"
            data-i18n="code-of-conduct"
            >പെരുമാറ്റച്ചട്ടം</a
          >
        </li>
      </ul>
    </v-row>
  </v-container>
</template>
